@import './base.scss';

.button-group {
	display: flex;
	flex-direction: column;
	button {
		border: none;
		outline: none;
		height: 60px;
		width: 60px;
		border-radius: 8px;
		background-color: #84dccf;
		margin-bottom: 10px;
		> img {
			height: 40px;
			width: auto;
		}
		&:hover {
			background-color: #62a198;
		}
	}
}

.button-save {
	position: absolute;
	right: 20vw;
	bottom: 16vh;
	border: none;
	outline: none;
	padding: 5px 8px;
	border-radius: 5px;
	background-color: #84dccf;
	opacity: 100%;
	&:hover {
		opacity: 100%;
	}
}
